.newsletter {
  background-color: $darkBlue;
  height: 15rem;
  padding: 2rem;
  margin: 0%;
  text-align: center;
  input {
    margin-top: 0rem;
    background-color: $lightGrayishBlue;
    @include breakpoint-up(large) {
      width: 35rem;
    }
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border-width: 0;
  }
  p {
    margin-top: 1.5rem;
    font-size: 0.65rem;
    color: $lightGrayishBlue;
  }
  h3 {
    font-size: 1.2rem;
    @include breakpoint-up(large) {
      font-size: 2.5rem;
    }
    margin-bottom: 1.75rem;
    color: $lightGrayishBlue;
  }
}
